{% extends 'nav.html' %}
{% load static %}


{% block contain %}
<link rel="stylesheet" href="{% static 'style/decscheck.css'%}">

<div class="containee">
    
    <div class="dec_to_visit">
        <p class="p1">municipility</p>
        <p class="p2">username</p>
        <p class="p3">titre<p class="date">date</p></p>
        <p class="p4">text</p>
        

    </div>

    <div class="decs">    
            {% for dec in decs  %}
                <p class="dec_client">{{dec.client}}</p>
                <p class="dec_titre">{{dec.titre}}</p>
                <input class="dec_slugy" type="hidden" value="{{dec.slugy}}">
                <img class="visit" data-value="{{dec.slugy}}" src="{% static 'images/visit_dec.png' %}">
                <a href=""><img class="post" src="{% static 'images/post_dec.png' %}" ></a>
                <a href=""><img class="delete" src="{% static 'images/delete_dec.png' %}" ></a>
            {% endfor %}
    </div> 

<script src="{% static 'edits/describe_visi.js' %}"></script>
<script src="{% static 'edits/jquery-3.6.3.min.js' %}"></script>


{% endblock %}